In [1]:
'python'

'python'

In [2]:
"python"

'python'

In [1]:
"python"
'python'

'python'

In [2]:
'python'
print("python")

python

In [3]:
1234

1234

In [4]:
v=123
print(v)

123

In [5]:
print(type(v))

<class 'int'>

In [6]:
v = "ab"
print(v)

ab

In [7]:
print(type(v))

<class 'str'>

## Data Types

In [8]:
a=10
b="success"
c=9.8
print(type(a))
print(type(b))
print(type(c))
type(a)
type(b)
type(c)

<class 'int'>
<class 'str'>
<class 'float'>

float

# Type Conversion

In [20]:
a=10
type(a)
s1="python"
type(s1)

h1=12.345
type(h1)
int(h1)
float(a)
float(str(int(h1)))

12.0

In [31]:
n1%11
n2=10
n3=n2**12
type(n3)
len(str(n3))
str(n3)

word=10**75
word
len(str(word))
type((str(word)))

str

In [2]:
n=56
n=str(n)
print(type(n))

<class 'str'>

In [1]:
num=str
num(45)

'45'

# Checking Python Version

### System Version

In [9]:
import platform
print(platform.python_version())
print(platform.sys.version)

3.7.3
3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

In [10]:
import sys
sys.version
print(sys.version)

3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

# Comments

In [11]:
# print("single_line comment")
'''print("hi")'''
print(12)
"""print(123)"""
print("hello")

12
hello

In [12]:
print(12,3,56,sep='hdg')
print("hello")

12hdg3hdg56
hello

In [13]:
print(12,3,sep=' ')
print("hi")

12 3
hi

In [16]:
print(12,3,sep=' ',end=' ')
print('hi')

12 3 hi

In [17]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [18]:
# Creating different variables with their data types
i=10
print(i,type(i))
j=20.3
print(i,type(j))
k='hell'
print(k,type(k))
l=True
print(l,type(l))

10 <class 'int'>
10 <class 'float'>
hell <class 'str'>
True <class 'bool'>

# Boolean Variables

In [19]:
print(bool(0))

False

In [20]:
print(bool(1))

True

In [21]:
print(True+True)

2

In [22]:
print(True+True)
print(True+False)
print(False+True)
print(False+False)

2
1
1
0

In [24]:
print(3*'hello')
print(3*' hello')
print(3*'hello')

hellohellohello
 hello hello hello
hellohellohello

In [26]:
print(3//2)

1

In [27]:
print(3.0//2)

1.0

In [28]:
print(3//2.0)

1.0

In [30]:
int(23.6)

23

In [31]:
float(12)

12.0

In [32]:
str(3)

'3'

In [33]:
bool('he')

True

In [34]:
bool(" ")

True

In [35]:
bool("")

False

# Operators

In [36]:
print(2+3)
print(4-3)
print(3*2)
print(10/2)
print(10//2)
print(10%5)

5
1
6
5.0
5
0

# Task

In [38]:
orange=3*6
apple=9*10
print((orange+apple)//10)

10

### Strings

In [3]:
print("Hello")

Hello

In [4]:
print("Hello \nThis is python")

Hello
This is python

In [5]:
s="Hello world"
s
print(s)

Hello world

### String slicing

In [6]:
s[0:5]

'Hello'

In [7]:
print(s[0:5])

Hello

In [8]:
s[0::]

'Hello world'

In [9]:
s[0:2]

'He'

In [10]:
s[0::2]

'Hlowrd'

In [13]:
s[0::3]

'Hlwl'

In [11]:
s[0::1]

'Hello world'

In [12]:
s[::-1]

'dlrow olleH'

In [19]:
p = "python vs java"
p.capitalize()

'Python vs java'

In [20]:
m="HARI"
m.lower()

'hari'

In [21]:
p.swapcase()

'PYTHON VS JAVA'

In [22]:
m.title()

'Hari'

In [23]:
p.upper()

'PYTHON VS JAVA'

In [24]:
len(p)

14

In [25]:
dir(p)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
a = "Hello world"

In [30]:
a.casefold()

'hello world'

In [32]:
a.center(10)

'Hello world'

In [33]:
a.split()

['Hello', 'world']

In [35]:
a.count('l')

3

### Assignment/Task
Try Remaining Function

dir(p)

### Tasks

In [53]:
#fine the length of the string
a = "hii yamini"
b = "hello world"
c = "python programs in python plantform"
print(len(a))
print(a.lower())
print(a[::-1])
print(a.split())
print(a.replace(" ",""))
print(a.count('i'))
print(c.count('python'))

10
hii yamini
inimay iih
['hii', 'yamini']
hiiyamini
4
2

In [1]:
# Read input from keyboard
a = input("enter number")
print(a)
print(type(a))

enter number21
21
<class 'str'>

In [2]:
a = input("enter number")
print(a)
print(type(a))

enter numberyamini
yamini
<class 'str'>

In [3]:
# Read 2 numbers from keyboard and print their sum
a = int(input('first num'))
b = int(input('second num'))
c = a+b
print(c)

first num21
second num21
42

In [5]:
#Read an integer value and a string.repeat the string integer number of times
#Ex 3, hello
#output hello hello hello
n1=int(input("num"))
n2=input("First Name")
print(n1*n2)

num21
First Nameyamini
yaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyaminiyamini

In [13]:
#read both first name and last name fromkeyboard
#separate by space
a=input("enter a string")
b=input("another string")
print(a+" "+b)
print(b+" "+a)
print(a+"."+b)
print(a,b)
print(a,b,sep=" ")

enter a stringyam
another stringmini
yam mini
mini yam
yam.mini
yam mini
yam mini